* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;

}


body {
    padding: 48px;
    background-color: blueviolet;
}

/*Hacer que el contrainer tenga una grilla de 5 columnas y 5 filas del mismo ancho y alto*/
.container {
    grid-template-columns: repeat(5,1fr); 
    grid-template-rows: repeat(3, 1fr 2fr);
    display: grid;
    width: 500px;
    height: 500px;
    margin: 0 auto; 
    background-color: chartreuse;
}

.item {
    background-color: aqua;
}