* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;

}


body {
    padding: 48px;
    background-color: blueviolet;
}

/*Hacer que el contrainer tenga una grilla de 5 columnas y 5 filas del mismo ancho y alto*/  

.container {
    display: grid;
    grid-template-columns: repeat(3,1fr); 
    grid-template-rows: repeat(3, 1fr);
    gap: 24px; 

    grid-auto-flow: row; /*Es el valor por default*/
    

    /*Esto no es de Grid pero funciona para cambiar la dirección*/
    direction: rtl; /*Right To Left*/

    width: 500px;
    height: 500px;
    margin: 0 auto; 
    background-color: blue;

}


.item-1 {
    background-color: honeydew;
}

.item-2 {
    background-color: red;
}

.item-3 {
    background-color: chocolate;
}

.item-4 {
    background-color: yellow;
}

.item-5 {
    background-color: hotpink;
}

.container div {
    font-size: 32px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}



