* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;

}


body {
    padding: 48px;
    background-color: blueviolet;
}

/*Hacer que el contrainer tenga una grilla de 5 columnas y 5 filas del mismo ancho y alto*/
.container {
    grid-template-columns: repeat(3,1fr); 
    grid-template-rows: repeat(3, 1fr);
    display: grid;
    width: 500px;
    height: 500px;
    margin: 0 auto; 
    background-color: chartreuse;
}

.item-2 {
    grid-column: 1/3;
    grid-row: 1/ -2;
    border-radius: 200px;
    background-color: aqua;
}

.item-1 {
    grid-column: 2 / 4;
    grid-row: 3 / 4;
    background-color: blue;
}